<head>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  {% for style in styles -%}
  <link rel="stylesheet" href="vendor/css/{{ style.lib }}"></link>
  {%- endfor %}
  <link rel="stylesheet" href="css/styles.css">
  {% for font in fonts -%}
  <link href="{{ font.family }}" rel="stylesheet"> 
  {%- endfor %}
  <link rel="author" href="humans.txt">
</head>